.idea/
**/__pycache__/*
.DS_Store
src/codemie-repos
.devcontainer/
.vscode/

.env.local
.env_local

.venv
venv
.__pycache__
.pytest_cache
.elasticsearch_data/
.keys/

.terraform/

.coverage
coverage.xml
.codebox/

.sonar/
devbox.*
codemie-storage/
codemie-repos/
swebench/output/
.dapr
src/.openapi-generator/

# Exclude everything in .codemie except specific files
.codemie/*
!.codemie/DEV_GUIDE.md
!.codemie/virtual_assistants/codemie-dev-agent.yaml
!.codemie/guides
!.codemie/specs

.claude/settings.local.json
.claude/commands/bmad*
local/*
bmad/*
.gemini/*
/_bmad*
/.agent/
/.codex/
/.crush/
/.cursor/
/.opencode/
/.hypothesis/
/.github/agents/
